@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-username: #71767B;
  --color-hover: #1c1c1c;
}

.text-userName{
  color: var(--color-username);
}

.bg-userName{
  color: var(--color-username);
}

.text-hover:hover{
  color: var(--color-hover);
}

.bg-hover:hover{
  background: var(--color-hover);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
